body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: rgb(7, 7, 7)


}

h1 {

  text-align: center;
  font-family: platino;
  color: rgb(255, 255, 255);

}

img {

  width: 400px;
  display: block;
  margin: 0px auto;
  
}


h2{

text-align: center;
font-family: platino;
color: rgb(255, 255, 255);

}

